# Data
data/raw/
data/processed/
data/models/
data/fastf1_cache/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/.next/

# Jupyter
.ipynb_checkpoints/

# Env
.env
.env.local
